 #el1{
    background-color:antiquewhite;
}
#el2{
    background-color: aquamarine;
}
#el3{
    background-color: rgb(111, 196, 224);
}
#el4{
    background-color: azure;
}
#el5{
    background-color: pink;
    padding:20px;
    width: 40%;
    height:60px;
    display:inline-block;
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;
}
#el6{
    background-color: yellow;
    width: 40%;
    height:60px;
}
#el7{
    background-color:lavender;
    width: 15%;
    height:50px;
}
#el8{
    background-color: rgb(165, 210, 165);
    width: 15%;
    height:50px;
}
#el9{
    background-color: rgb(172, 172, 223);
    width: 15%;
    height:50px;
}
#ela{
    background-color: pink;
    width: 15%;
    height:50px;
}
#elb{
    background-color:rgb(217, 217, 152);
    width:15%;
    height:50px;
}
#elc{
    background-color: lavender;
    width: 15%;
    height:50px;
}
#eld{
    background-color: rgb(182, 222, 187);
    width: 15%;
    height:50px;
}
#ele{
    background-color: rgb(172, 172, 223);
    width: 15%;
    height:50px;
}
#elf{
    background-color: pink;
    width: 15%;
    height:50px;
}
#elg{
    background-color: rgb(182, 185, 115);
    width: 15%;
    height:50px;
}
#elh{
    background-color: lavender;
    width: 15%;
    height:50px;
}
#eli{
    background-color: rgb(197, 205, 198);
    width: 15%;
    height:50px;
}
#elj{
    background-color: rgb(62, 116, 139);
    width: 15%;
    height:50px;
}
#elk{
    background-color: pink;
    width: 15%;
    height:50px;
}
#ell{
    background-color:rgb(217, 217, 152);
    width: 15%;
    height:50px;
}
#elm{
    background-color:lavender;
    width: 15%;
    height:50px;
}
#eln{
    background-color:rgb(197, 205, 198);
    width: 15%;
    height:50px;
}
#elo{
    background-color: rgb(62, 116, 139);
    width:15%;
    height:50px;
}
#elp{
    background-color: pink;
    width:15%;
    height:50px;
}
#elq{
    background-color: rgb(217, 217, 152);
    width:15%;
    height:50px;
}
#elr{
    background-color:lavender;
    width:15%;
    height:50px;
}
#els{
    background-color: rgb(197, 205, 198);
    width:15%;
    height:50px;
}
#elt{
    background-color:rgb(62, 116, 139) ;
    width:15%;
    height:50px;
}
#elu{
    background-color: pink);
    width:15%;
    height:50px;
}
#elv{
    background-color:rgb(217, 217, 152);
    width: 15%;
    height:50px;
}
#elw{
    background-color: lavender;
    width:15%;
    height:50px;
}
#elx{
    background-color:rgb(197, 205, 198) ;
    width:15%;
    height:50px;
}
.cl2{
    background-color:rgb(62, 116, 139) ;
    width:15%;
    height:50px;

}
.cl3{
    background-color:pink ;
    width:15%;
    height:50px;

}

.cl4{
    background-color:rgb(217, 217, 152) ;
    width:15%;
    height:50px;

}

.cl5{
    background-color:lavender;
    width:15%;
    height:50px;

}

.cl6{
    background-color:rgb(197, 205, 198);
    width:15%;
    height:50px;

}
.cl7{
    background-color:rgb(62, 116, 139) ;
    width:15%;
    height:50px;

}

.cl8{
    background-color:rgb(197, 205, 198);
    width:15%;
    height:50px;

}

.cl9{
    background-color:pink ;
    width:15%;
    height:50px;

}

.cla{
    background-color:rgb(217, 217, 152);
    width:15%;
    height:50px;

}
.clb{
    background-color:rgb(62, 116, 139) ;
    width:40%;
    height:60px;

}

.clc{
    background-color:rgb(210, 210, 144);
    width:40%;
    height:50px;

}
.cld{
    background-color:pink;
    width:40%;
    height:60px;

}
.cle{
    background-color:lavender;
    width:40%;
    height:60px;

}


